@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root{
    --Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: var(--Cream);
    height: 100vh;
}
main{
    display: flex;
    width: 35%;
    border-radius: .5rem;
    background-color: #fff;
    overflow: hidden;
}
.image{
    background-image: url(images/image-product-desktop.jpg);
    width: calc(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.by-container{
    margin: 1rem;
    padding: 5px 1rem ;
    width: 90%;
}
.logo{
    letter-spacing: .3rem;
    font-family:  sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--Dark-grayish-blue);

}
h1{
    color: var(--Very-dark-blue);
margin: 1rem 0;
font-family: "Fraunces", serif;

}
.text{
    line-height: 1.3rem;
    font-family: sans-serif;
    color: var(--Dark-grayish-blue);
    margin: 1rem 0;
}
.price{
    font-size: 2.4rem;
    color: var(--Dark-cyan);
    margin: 1rem 0;
    font-weight: bold;
    font-family: "Fraunces", serif;
}
.price del{
    margin-left:1rem ;
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    vertical-align: middle;
        font-weight: 500;
}
.add-card{
color: #fff;
background-color: var(--Dark-cyan);
border-radius: .5rem;
padding: .7rem;
display: flex;
justify-content: center;
font-size: 1.2rem;
font-family: sans-serif;
margin: 1rem 0;
}
.add-card img{
    margin-right: 1rem;
}
.add-card:active{
    cursor: pointer;
    background-color:hsl(158deg 32.95% 24.99%);
}
@media screen and (max-width:800px){
    main{
        width: 90%;
        flex-direction: column;
    }
    .image{
        width: 100%;
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
    }
    
}